<!DOCTYPE html>
<html>
<head>
  <title>DocData</title>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default">
      <div class="navbar-header">
        <div class="navbar-brand">
          <%= link_to "DoctorData", root_path %>
        </div>
      </div>
      <ul class="nav navbar-nav">
        <!-- Edit this conditional after setting up a user login page: -->
        <li class="<%= 'active' if current_page?(patients_path) %>"> <%= link_to "Patients", patients_path %> </li>
        <li class="<%= 'active' if current_page?(appointments_path) %>"> <%= link_to "Appointments", appointments_path %> </li>
      </ul>
      <p class="navbar-text pull-right">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
      </p>
  </div>
</body>
  <div id="main-container" class="container-fluid">
    <div class="row">
      <div id="content" class="col-xs-12">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
</html> 

